<div class="main-div">
  <img [src]="product.images[0]" class="image" >
<!--  <img [src]="product.thumbnail" class="image" loading="eager" fetchpriority="high">-->
  <ul class="ul">
    <li style="font-weight:bolder">{{ product.title }}</li>
    <li id="rating-li">
      {{ product.rating }}
      <img class="rating-img" src="assets/star.png" alt="star image">
    </li>
    <li style="font-weight:bold">
      {{ (product.price * product.discountPercentage) / 100 | currency }}
      <span class="original-price-span" style="font-weight: normal" [style.font-size.px]="12">
      {{ product.price | currency }}
      </span>
    </li>
    <li style="font-size:small">
      {{ product.description | ellipses }}
    </li>
    <ng-content></ng-content>
  </ul>
</div>
