<div class="mainDiv">
  <img [src]="product.images[0]" class="image">
  <ul class="ul">
    <li style="font-weight:bolder">{{ product.title }}</li>
    <li id="starRating">
      {{ product.rating }}
      <img class="starImg" src="assets/star.png" alt="star image">
    </li>
    <li style="font-weight:bold" >
      {{ (product.price * product.discountPercentage) / 100 | currency }}
       <span class="originalPrice" style="font-weight: normal" [style.font-size.px]="12">
      {{ product.price | currency }}
      </span>
    </li>
    <li style="font-size:small">
      {{ product.description | ellipses }}
    </li>
    <ng-content></ng-content>
  </ul>
</div>
