.mainDiv{
  display:flex;
  flex-direction: column;
  background-color: #ededed;
  min-height:100%;
  justify-content: center;
  align-items: center;
  gap:1.5em;
  padding:1em 1em 2em 1em ;
}
#product-card{
  width:70%;
}

.addBtn{
  min-width: 50%;
  height: 2em;
  border: none;
  background-color: #5cb85c;
  color:white;
}

.removeBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 35%;
  height: 2em;
  border: none;
  background-color:#d9534f;
  color:white;
  text-align: center;
}
.removeBtn>button{
  border: none;
  background-color: transparent;
  font-size: large;
}
.removeBtn>button:hover{
  background-color: #e30e09;
}

.ratingSpan{
  background-color:rgb(25 252 22 / 50%); ;
}

.productsListDiv{
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.paginationDiv{
  /*background-color: #007bff;*/
  display:flex;
  gap: 5px;
}
.paginationDiv>button{
  min-width: 3em;
  height:2em;
  background-color: white;
  border:solid #007bff 1px;
  border-radius: 10px;
  font-weight: bolder;
  color: #007bff;
}

.paginationDiv>button:hover{
  background-color:  #5cb85c;
  color: white;
  border: none;
}

@media (min-width:500px) {
  .mainDiv{
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
  }
  #product-card{
    width:14em;
  }

}
