<app-loader *ngIf="isLoading"></app-loader>
<div class="main-div" *ngIf="!isLoading">
  <div class="productsList-div">
    <app-product-card *ngFor="let product of filteredProductList" [product]="product" id="product-card">
    <span *ngIf="product.inCart" class="control-btn">
      <button (click)="removeFromCart(product)">-</button>
      {{ product.quantity }}
      <button (click)="addToCart(product)">+</button>
    </span>
      <button *ngIf="!product.inCart" (click)="addToCart(product)" class="add-btn">
        Add to cart
      </button>
    </app-product-card>
  </div>
  <div class="pagination-div">
      <button
        [disabled]="skip<=0"
        (click)="fetchPreviousProducts()">
        <<
      </button>
      <hr>
      <button (click)="fetchNextProducts()">
        >>
      </button>
  </div>
</div>
