.mainDiv{
  display:flex;
  flex-direction: column;
  background-color: #ededed;
  min-height:100%;
  justify-content: center;
  align-items: center;
  gap:1.5em;
  padding:1em 1em 2em 1em ;
}
#product-card{
  width:70%;
}

.addBtn{
  min-width: 50%;
  height: 2em;
  border: none;
  background-color: #5cb85c;;
  color:white;
}
.removeBtn{
  min-width: 50%;
  height: 2em;
  border: none;
  background-color:#d9534f;
  color:whitesmoke;
}

.productsListDiv{
  width: 100%;
  /*background-color: purple;*/
  flex-grow: 1;
  /*height: 90%;*/
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.paginationDiv{
  /*background-color: #007bff;*/
  display:flex;
  gap: 5px;
}
.paginationDiv>button{
  min-width: 3em;
  height:2em;
  background-color: white;
  border:solid #007bff 1px;
  border-radius: 10px;
  font-weight: bolder;
  color: #007bff;
}


@media (min-width:500px) {
  .mainDiv{
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
  }
  #product-card{
    width:14em;
  }

}
