nav{
  background-color:rgb(31, 42, 68);
  width: 90%;
  height:10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  color: white;
}

.navDiv-1{
  /*background-color: mediumpurple;*/
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categoryDiv{
  /*background-color: pink;*/
  width: 45%;
  height: 100%;
  justify-content: center;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav>input{
  width: 20%;
  height: 30%;
  border: none;
  outline: none;
  background-color:black;
  border-radius: 20px;
  padding: 1em;
  color: white;
}

.navDiv-1>button{
  width: 8em;
  height: 3em;
  background-color:white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px black;
}
.categoryDiv>select{
  /*width:50%*/
}
.select>option{
  background-color: white;
}




































