.mainDiv{
  width: 100%;
  min-height: 90%;
  background-color: #ededed;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:start;
  align-items: start;
  gap: 1em;
  padding:1em;
}
#product-card{
  width:13em;
}

.removeBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 35%;
  height: 2em;
  border: none;
  background-color:#d9534f;
  color:white;
  text-align: center;
}
.removeBtn>button{
  border: none;
  background-color: transparent;
  font-size: large;
}

.removeBtn>button:hover{
  background-color: #e30e09;
}
