.mainDiv{
  width: 100%;
  min-height: 90%;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content:start;
  flex-wrap: wrap;
  gap: 1em;
  padding:1em;
}

#product-card{
  width:15em;
}

.remove-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
  height: 1.5em;
  border: none;
  background-color:#d9534f;
  color:white;
}
.remove-btn>button{
  border: none;
  color: white;
  background-color: transparent;
  font-size: large;
}

.remove-btn>button:hover{
  background-color: #e30e09;
}

@media (min-width: 576px) {

  #product-card{
    width: 15em;
  }

}
