.main-div {
  display: flex;
  background-color: #ededed;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}

#product-card {
  /*background-color: #d9534f;*/
  max-width: 70%;
}

.add-btn {
  min-width: 50%;
  height: 1.8em;
  border: none;
  background-color: #5cb85c;
  color: white;
}

.control-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
  height: 1.8em;
  border: none;
  background-color: #d9534f;
  color: white;
}

.control-btn > button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: large;
}

.control-btn > button:hover {
  background-color: #e30e09;
}

.ratingSpan {
  background-color: rgb(25 252 22 / 50%);;
}

.productsList-div {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.pagination-div {
  display: flex;
  gap: 5px;
}

.pagination-div > button {
  min-width: 3em;
  height: 2em;
  background-color: white;
  border: solid #007bff 1px;
  border-radius: 10px;
  font-weight: bolder;
  color: #007bff;
}

.pagination-div > button:disabled {
  background-color: white;
  border: none;
  color: grey;
}

.pagination-div > button:hover {
  background-color: #5cb85c;
  color: white;
  border: none;
}


@media (min-width: 500px) {

  .main-div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #product-card {
    width: 14em;
  }

}
